
body, html{
  width: 1440px;
  min-width: 100%;
  margin: 0px auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #0C0C0E;
  scroll-behavior: smooth;
}
.main-header {
  display: flex;
  background-color: #0C0C0E;
  width: 1440px;
  height: 90px;
  border: none;
  margin: 0px auto;
  padding: 0;
}
.library-name {
  display: flex;
  align-items: center;
  width: 294px;
  height: 50px;
  margin-right: 454px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.library-name h1 {
  color: #FFF;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400; 
  letter-spacing: 0.6px;
  margin: 0;
  padding: 0;
}
.main-nav-container ul{
  list-style-type: none;
  display: flex;
  justify-content:space-between;
  width: 584px;
  height: 50px;
  padding: 0;
  margin: 0;
}
.main-nav-container ul li {
  cursor: pointer;
  width: auto;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 0;
}
.main-nav-container ul li a{
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; 
  text-decoration: none;
}
.main-nav-container a:hover {
  color:grey;
}
.icon-profile {
  display: flex;
  margin-top: 31px;
  margin-right: 20px;
  margin-bottom: 31px;
  margin-left: 20px;
}
.container-pages {
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin: 0px auto;
  padding: 0;
}
.background-gradient{
  position: relative;
  width: 1440px;
  height: 600px;
  background: url("./images/welcome.jpg"), lightgray 50% / cover no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}
.gradient{
  position: absolute;
  width: 1440px;
  height: 300px;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}
.welcome-bg {
  display: flex;
  position: absolute;
  width: 520px;
  height: 150px;
  padding: 35px 40px;
  margin-top: 220px;
  justify-content: center;
  align-items: center;
  background-color: #0C0C0E;
}
.welcome-bg p {
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#about {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 837px;
  margin: 0;
  padding: 0;
  background: #FFF;
}
.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0px;
}
.about-header h2 {
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 0px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.about-header hr {
  width: 50px;
	padding: 0;
	height: 0;
  margin-top: 20px;
  margin-bottom: 0px;
	border: none;
	border-top: 1px solid #333;
}
.about-header p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.images-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1400px;
  height: 560px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  gap: 25px;
}
.images-about img {
  width: auto;
  height: 100%;
}
.carousel-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440;
  height: 96px;
}
.pagination-container {
  display: flex;
  flex-direction: row;
  width: 98px;
  height: 26px;
}
.pagination-element {
  display: flex;
  width: 26px; 
  height: 26px;
  margin: auto;
  background: none;
  border-radius: 50%;
  cursor: pointer;
}
.pagination-element a{
  display: flex;
  width: 16px; 
  height: 16px;
  margin: auto;
  background: #0C0C0E;
  border-radius: 50%;
  cursor: pointer;
}
.pagination-element a.active {
  background-color: #BB945F; 
}

.pagination-element a:hover:not(.active) {
  background-color: lightgray;
}

#favorites {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 1439px;
  margin: 0;
  padding: 0;
  background: #FFF;
}
.favorites-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0px;
}
.favorites-header h2 {
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.favorites-header hr {
  width: 50px;
	padding: 0;
	height: 0;
  margin-top: 0px;
  margin-bottom: 0px;
	border: none;
	border-top: 1px solid #333;
}
.fav-text {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 35px;
}
.fav-text p{
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0;
  margin: 0px;
}
.seasons {
  display: flex;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 35px;
}
.season-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 90px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px;
  cursor: pointer;
}
.season-element input[type=radio] {
  width: 17px;
  height: 17px;
  padding: 5px 5px 5px 5px;
  margin: 0;
  cursor: pointer;
  accent-color: #000;
}
.season-element label {
  display: inline-block;
  align-items: center;
  justify-content: center;
  color: #000;
  padding: 5px 5px 5px 5px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 15px;
  cursor: pointer;
}
.season-element input[type="radio"]:checked+label {
  font-weight: bold;
}
.favorites-descriptions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.book-item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 550px;
  height: 555px;
  border: 1px solid #000;
  background: #FFF; 
  margin-top: 0px;
  margin-bottom: 40px;
}
.book-item-header {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 19px;
}
.book-item-header p {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.book-item-header hr {
  width: 60px;
	padding: 0;
	height: 0;
  margin: 0;
	border: none;
	border-top: 1px solid #BB945F;
}
.book-item-name-author {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
}
.book-item-name {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.book-item-author {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.book-item-description {
  display: flex;
  width: 355px;
  height: 320px;
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 20px;
}
.book-item-description p {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.buy-button {
  display: flex;
  margin-top: 0;
  margin-bottom: 15px;
  margin-left: 20px;
  padding: 0;
}
.buy-button button{
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  color: #0C0C0E;
  background-color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
}
.buy-button button:hover {
  transition: all 1s ease;
  border-radius: 2px;
  border: 1px solid #BB945F;
  background: #BB945F;
}
.own-button {
  display: flex;
  margin-top: 0;
  margin-bottom: 15px;
  margin-left: 20px;
  padding: 0;
}
.own-button button {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #BB945F;
  background-color: #FFF;
  color: #BB945F;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
}
.book-item-image {
  position: absolute;
  display: flex;
  bottom: 0px;
  left: 390px;
}
#coffeeshop {
  display: flex;
  width: 1400px;
  padding: 20px 20px 40px 20px;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  margin: 0px;
  gap: 40px;
}
.coffee-shop-header {
  display: flex;
  width: 1400px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.coffee-shop-header h2 {
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.coffee-shop-header hr {
  width: 50px;
	padding: 0;
	height: 0;
  margin: 0;
	border: none;
	border-top: 1px solid #0C0C0E;
}
.coffee-shop-description {
  display: flex;
  width: 1400px;
  padding: 0;
  margin: 0;
}
.coffee-shop-description p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
}
.coffee-shop-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  height: 520px;
  margin: 0;
  padding: 0;
}
.coffee-tea {
  display: flex;
  flex-direction: column;
  width: 438px;
  height: 520px;
  gap: 40px;
  margin: 0;
  padding: 0;
}
.desserts-cakes {
  display: flex;
  flex-direction: column;
  width: 482px;
  height: 520px;
  gap: 40px;
  margin: 0;
  padding: 0;
}
.coffee-tea-header {
  color: #BB945F;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.desserts-cakes-header {
  color: #BB945F;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: end;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.coffee-tea > .coffee-shop-menu-item {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 438px;
  margin: 0;
  padding: 0;
}
.coffee-tea > .coffee-shop-menu-item > .menu-item-price{
  color: #000;
  width: 21px;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: end;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.coffee-tea > .coffee-shop-menu-item > .menu-item-name{
  color: #000;
  width: 197px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: start;
  text-transform: capitalize;
  white-space: nowrap;
  margin-right: 60px;
  margin-left: 0px;
  margin-top:0;
  margin-bottom: 0;
  padding: 0;
}
.coffee-tea > .coffee-shop-menu-item hr {
  width: 100px;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #BB945F;
  margin-right: 60px;
  margin-left: 0px;
  margin-top:0;
  margin-bottom: 0;
}
.desserts-cakes > .coffee-shop-menu-item {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 482px;
  margin: 0;
  padding: 0;
}
.desserts-cakes > .coffee-shop-menu-item > .menu-item-price{
  color: #000;
  width: 31px;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: end;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.desserts-cakes > .coffee-shop-menu-item > .menu-item-name{
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: start;
  text-transform: capitalize;
  white-space: nowrap;
  margin-right: 60px;
  margin-left: 0px;
  margin-top:0;
  margin-bottom: 0;
  padding: 0;
}
.desserts-cakes > .coffee-shop-menu-item hr {
  width: 100px;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #BB945F;
  margin-right: 60px;
  margin-left: 0px;
  margin-top:0;
  margin-bottom: 0;
}
#contacts {
  display: flex;
  width: 1400px;
  padding: 20px 20px 40px 20px;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  background-color: #FFF;
}
.contacts-header {
  display: flex;
  width: 1400px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.contacts-header h2 {
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.contacts-header hr {
  width: 50px;
	padding: 0;
	height: 0;
  margin: 0;
	border: none;
	border-top: 1px solid #0C0C0E;
}
.contacts-container {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1400;
  height: 414px;
}
.contacts-text {
  display: flex;
  flex-direction: column;
  justify-content:left;
  width: 704px;
  height: 414px;
  margin: 0;
  padding: 0;
}
.library-inq {
  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; 
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 40px;
  padding: 0;
}
.phones {
  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 0;
}
.staff {
  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; 
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}
.contacts-text > .library-director {
  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.contacts-text a {
  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.geo-information {
  display: flex;
  width: 696px;
  height: 414px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.geo-information img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

#librarycard {
  position: relative;
  display: flex;
  width: 1440px;
  height: 614px;
  background: #FFF;
}
.card-header {
  display: flex;
  width: 372px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0;
}
.card-header h2 {
  color: #0C0C0E;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.card-header hr {
  width: 50px;
	padding: 0;
	height: 0;
  margin: 0;
	border: none;
	border-top: 1px solid #0C0C0E;
}
.find-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 121px;
  padding: 0;
}
.find-card-title {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  padding: 0;
  margin-left: 158px;
  margin-top: 0;
  margin-bottom: 30px;
}
.register-frame {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 386px;
  flex-shrink: 0;
  border: 3px solid #BB945F;
  background: #FFF;
  margin-left: 20px;
  margin-bottom: 41px;
  margin-top: 0px;
  padding: 0;
}
.register-rectangle {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 272px;
  flex-shrink: 0;
  background: #BB945F;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 0;
}
.find-card-library-name {
  color: #000;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 0;
}

.check-card-button button{
  display: flex;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
  padding: 10px 40px;
  width: 242px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background-color: #FFF;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}
.check-card-button button:hover {
  transition: all 1s ease;
  border-radius: 2px;
  border: 1px solid #BB945F;
  background: #BB945F;
}
.input-card-form {
  display: flex;
  flex-direction: column;
  width: 520px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0;
}
.input-card-form input {
  outline: none;
  border: none;
  height: 66px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
}
.input-card-form input::placeholder{
  color: #8E8E8E;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; 
  letter-spacing: 0.6px;
}
.get-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 456px;
  margin-top: 121px;
  margin-right: 20px;
  margin-bottom: 240px;
  margin-left: 964px;
}
.get-card-title {
  color: #000;
  text-align: right;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-top: 0px;
  margin-bottom: 35px;
  padding: 0;
}
.get-card-description {
  display: flex;
  justify-content: flex-end;
  width: 456px;
  height: 120px;
  margin-top: 0;
  margin-bottom: 35px;
  padding: 0;
}
.get-card-description p {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0;
}
.get-card-options {
  display: inline-flex;
  gap: 20px;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
.get-card-button button{
  display: flex;
  width: 75px;
  height: 30px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  color: #0C0C0E;
  background-color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}
.get-card-button button:hover {
  transition: all 1s ease;
  border-radius: 2px;
  border: 1px solid #BB945F;
  background: #BB945F;
}
.black-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1440px;
  height: 250px;
  margin: 0px auto;
  padding: 0;
  background: #0C0C0E;
}
.footer-item-first {
  display: flex;
  width: 1400px;
  height: 40px;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 0;
  flex-shrink: 0;
}
.footer-item-place {
  width: 229px;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}
.footer-item-place a {
  text-decoration: none;
  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.footer-item-place a:hover {
  color: #BB945F;
}
.main-worktime {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
.main-worktime p {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  margin: 0;
  padding: 0;
}
.footer-item-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1398px;
  height: 40px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 21px;
  margin-right: 21px;
  padding: 0;
}
.weekends-worktime {
  display: flex;
  width: 149px;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}
.weekends-worktime p {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.footer-item-social-media {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}
.footer-item-social-media ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap : 15px;
  margin: 0;
  padding: 0;
}
.footer-item-social-media li {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}
.footer-line {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 46px;
  padding: 0;
}
.footer-line hr {
  width: 1400px;
	padding: 0;
	height: 0;
  margin: 0;
	border: none;
	border-top: 1px solid #FFFFFF;
}
.main-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
  height: 250px;
  margin-top: 0px;
  margin-bottom: 44px;
  margin-left: 20px;
  margin-right: 20px;
}
.main-footer p {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
} 
.main-footer a {
  color: #FFF;
  text-decoration: none;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
} 
.main-footer a:hover {
  color: #BB945F;
}